/* Poppins Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  background-image: url(./images/weather-background-image.avif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  backdrop-filter: blur(4px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.weather-container {
  width: 90%;
  height: 600px;
  max-width: 600px;
  background: linear-gradient(
    140deg,
    rgba(110, 127, 134, 0.904),
    rgba(0, 0, 0, 0.904)
  );
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
/* Search bar Css */
.weather-input {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}
.weather-input input {
  width: 500px;
  padding: 15px 25px;
  border-radius: 30px;
  font-size:21px ;
  font-family: "Poppins", sans-serif;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
}
.weather-input input::placeholder {
  font-size: 21px;
  color: rgb(97, 97, 97);
  font-family: "Poppins", sans-serif;
}
/* search icon css */
.weather-input button  {
  border: none;
  outline: none;
  background: none;
}
.weather-input button i {
  background-color: white;
  padding: 15px 25px;
  font-size: 21px;
  color: grey;
  border-radius: 30px;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
/* Weather City and Date Css */
.weather-city {
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  font-family: "Poppins", sans-serif;
}
.weather-city h2 {
  color: white;
  font-weight: 500;
  font-size: 30px;
}
.weather-city .weather-date {
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.weather-city .weather-date h3,
span {
  font-size: 20px;
  color: white;
  font-weight: 400;
}
/* Weather Img css */
.weather-img {
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  font-family: "Poppins", sans-serif;
  /* background-color: rgba(52, 107, 156, 0.575); */
}
.weather-img img {
  width: 180px;
  height: 180px;
}
/* weather Temperature Css */

/* Weather Img css */

.weather-temp {
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.weather-temp h1 {
  font-size: 50px;
  color: white;
}
.weather-temp h1 span {
  font-size: 50px;
  color: white;
}
.weather-temp span {
  font-size: 22px;
}
/* more info temp */

.weather-more-info {
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  /* background-color: rgba(210, 105, 30, 0.438); */
  font-family: "Poppins", sans-serif;
}
/* humidity Css */
.weather-more-info .weather-humidity {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}
.weather-humidity h4 {
  font-size: 26px;
  color: white;
}
.humidity-info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.humidity-info span {
  font-size: 23px;
  color: white;
}
.humidity-info i {
  font-size: 25px;
  color: white;
}
/* Wind Css */

.weather-more-info .weather-wind {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}
.weather-wind h4 {
  font-size: 26px;
  color: white;
}
.wind-info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.wind-info span {
  font-size: 23px;
  color: white;
}
.wind-info i {
  font-size: 25px;
  color: white;
}
